@{
    ViewBag.Title = "Unauthorized Request";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .red {
        color: #f12f2f
    }
</style>
<body class="body-inner">
    <div class="portlet portletCustomHeight light bg-inverse">
        <div class="portlet-title">
            <div class="caption">
                <h1 class="bold red">401</h1>
                <span class="red">Sorry, you were not authorized to access that page.</span>
            </div>
        </div>
        <p class="lead">Please select a menu from left side bar.</p>
    </div>
    <div class="dashboard-watermark"></div>
</body>
