@model List<TMD.Web.Models.Product>
@{

    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 14;
}

<div class="portlet portletCustomHeight light bg-inverse">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-users font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo uppercase">Product Categories</span>
            <span class="caption-helper">All</span>
        </div>
        <div class="pull-right">
            <a href="@Url.Action("Create","Product")" class="btn blue-madison"><i class="fa fa-plus"> Add New Product</i></a>
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="portlet box red-sunglo">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-group"></i>Product(s)
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content" id="EmployeeTable">
                            <thead class="flip-content">
                                <tr>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Short Description
                                    </th>

                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@Html.ActionLink(@item.ProductName, "Create", new { id = item.ProductID }) </td>
                                        <td>@item.ShortDescription</td>

                                        <td></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!--/span-->
            <!--/row-->
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        var oTable = $("#EmployeeTable").dataTable({
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            "bFilter": true,
            "bLengthChange": false,
        });
    });
</script>
@*<style type="text/css">
        .dataTables_filter {
            display: none !important;
        }
    </style>*@