@using System.Web.UI.WebControls
@*@model  TMD.Web.ViewModels.Quote.QuoteViewModel*@
@{
    ViewBag.Title = "Print Quote";
    Session["MenuKey"] = 4;

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .page-content-wrapper .page-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
</style>
<!-- BEGIN PAGE HEADER-->
<span>
    <h3 class="page-title">
        Price Quote
    </h3>
    <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
        Print <i class="fa fa-print"></i>
    </a>
</span>
<hr/>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="invoice">
    <div class="row invoice-logo">
        <div class="col-xs-6 invoice-logo-space">
            <label><b>Talha Iftikhar</b></label><br />
            <label>HATAN Solutions</label><br />
            <label>Faisal Town, Lahore</label><br />
            <label>+92-313-444-1895</label><br />
            <label>talha@@hatansolutions.com</label>
        </div>
        <div class="col-xs-6" style="text-align: right;">
            <label>Ref #: ZAM-LHR-1235</label><br />
            <label>Date: 01-06-2016</label><br />
            <label>Validity: 1 Week(s)</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12" style="text-align: center;"><h4>SUB:   QUOTATION FOR SUPPLY OF AUTO SLIDING DOOR SYSTEM</h4></div>
    </div>
            <h4>Terms & Conditions</h4>
    <div class="row">
        <div class="col-xs-4">
            <b>Payment:</b>
            <ul class="list-unstyled">
                <li>
                    70% on Product Delivery
                </li>
                <li>
                    30% After installation
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <b>Delivery:</b>
            <ul class="list-unstyled">
                <li>
                    1 - 2 Week(s)
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <b>Installation:</b>
            <ul class="list-unstyled">
                <li>
                    1 Week(s)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-xs-4">
        <b>Warranty:</b>
        <ul class="list-unstyled">
            <li>
                1 Year(s)
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <b>Free Service:</b>
        <ul class="list-unstyled">
            <li>
                6 Month(s)
            </li>
        </ul>
    </div>
</div>
<div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Item
                                </th>
                                <th class="hidden-480">
                                    Description
                                </th>
                                <th class="hidden-480">
                                    Quantity
                                </th>
                                <th class="hidden-480">
                                    Unit Cost
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Hardware
                                </td>
                                <td class="hidden-480">
                                    Server hardware purchase
                                </td>
                                <td class="hidden-480">
                                    32
                                </td>
                                <td class="hidden-480">
                                    $75
                                </td>
                                <td>
                                    $2152
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Furniture
                                </td>
                                <td class="hidden-480">
                                    Office furniture purchase
                                </td>
                                <td class="hidden-480">
                                    15
                                </td>
                                <td class="hidden-480">
                                    $169
                                </td>
                                <td>
                                    $4169
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Foods
                                </td>
                                <td class="hidden-480">
                                    Company Anual Dinner Catering
                                </td>
                                <td class="hidden-480">
                                    69
                                </td>
                                <td class="hidden-480">
                                    $49
                                </td>
                                <td>
                                    $1260
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Software
                                </td>
                                <td class="hidden-480">
                                    Payment for Jan 2013
                                </td>
                                <td class="hidden-480">
                                    149
                                </td>
                <td class="hidden-480">
                    $12
                </td>
                <td>
                    $866
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <h4>Exclusions</h4>
        <ul class="list-unstyled">
            <li>
                Taxes are not included in the price.
            </li>
            <li>
                Glass / Aluminum will be provided by the client.
            </li>
            <li>
                All kind of Civil / Electrical Work is client responsibility
            </li>
        </ul>
    </div>
    <div class="col-xs-4 invoice-block">
        <ul class="list-unstyled amounts">
            <li>
                <strong>Sub - Total amount:</strong> $9265
            </li>
            <li>
                <strong>Discount:</strong> 12.9%
            </li>
            <li>
                <strong>VAT:</strong> -----
            </li>
            <li>
                <strong>Grand Total:</strong> $12489
            </li>
        </ul>
    </div>
</div>
        </div>
        <!-- END PAGE CONTENT-->
