@model TMD.Web.ViewModels.Dashboard.DashboardViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = "1";
}

<div class="portlet portletCustomHeight light bg-inverse">
    <div class="portlet-title">
        <div class="tools">
        </div>
        <div class="caption">
            <i class="icon-credit-card font-red-sunglo"></i>
            <span class="caption-subject font-red-sunglo bold">ZAMTAS Sales Automation System</span>
        </div>
    </div>
    <p>Please Select a menu from left side menu-bar.</p>
</div>